---
---

<div class="music-player" id="musicPlayer">
  <span class="music-icon" id="musicIcon">🎵</span>
  <span class="music-label" id="musicLabel">Menu Theme</span>
  <span style="font-size:12px;">♫</span>
  <audio id="musicAudio" preload="none" loop></audio>
</div>
