---
---

<div class="surprise-overlay" id="surpriseOverlay">
  <div class="surprise-card" id="surpriseCard">
    <div class="surprise-icon" id="surpriseIcon">🎁</div>
    <div class="surprise-title" id="surpriseTitle">Surprise!</div>
    <div class="surprise-body" id="surpriseBody">You found a surprise!</div>
    <button class="surprise-close" id="surpriseClose">💕 Lovely!</button>
  </div>
</div>
