---
import BackButton from '../shared/BackButton.astro';
---

<div id="screen-album" class="screen">
  <BackButton />
  <div class="section-title">✦ Album ✦</div>
  <div class="section-sub">a little exhibition of us</div>
  <div class="album-wall" id="album-wall"></div>
  <div class="album-spotlight" id="album-spotlight"></div>
</div>
