---
---

<div id="screen-ending" class="screen">
  <div class="ending-floating" id="ending-floating"></div>
  <div class="ending-title" id="ending-title">Happy Birthday, Love.</div>
  <div class="ending-sub" id="ending-sub">Thank you for being the most beautiful part of my ordinary days.</div>
  <div class="ending-btns" id="ending-btns">
    <button class="primary" id="btn-replay">🎉 Celebrate Again</button>
    <button id="btn-back-menu">← Back to Menu</button>
  </div>
</div>
