---
import BackButton from '../shared/BackButton.astro';
---

<div id="screen-stories" class="screen">
  <BackButton />
  <div class="section-title">✦ Stories ✦</div>
  <div class="section-sub">little moments that stay forever</div>
  <div class="stories-scroll" id="stories-scroll"></div>
</div>
