---
import BackButton from '../shared/BackButton.astro';
---

<div id="screen-surprise" class="screen">
  <BackButton />
  <div class="section-title">✦ Surprise Box ✦</div>
  <div class="section-sub">tap a box, get a little magic</div>
  <div class="surprise-bento" id="surpriseBento"></div>
</div>
